
<%- include("header"); -%> 

<h2>About</h2>

<p> aoijohdf aj oeohjasdf jowasdofh jweojskjd fowa o jdflfkj oiwefo jasldjf oiwuof sajf owelfj oaoisdfoj oiweof ijsa dfoyiddjfo ijowjoaj jo wyeo ogoia j flvnmoihgo</p>

<%- include("footer"); -%> 
